/*

!/.github
!/bin
!/lib
!/t

!CHANGES
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!INSTALL
!LICENSE
!MANIFEST.SKIP
!META.json
!META.yml
!Makefile.PL
!README
!README.md
!STABILITY.md
!VERSION
!build
!cpanfile
!dist.ini
!release

!.editorconfig
!.gitattributes
!.gitignore
!.mailmap
!.perltidyrc
!.perlcriticrc
!.replyrc
!.replydeps