/*

!/.github
!/benchmarks
!/bin
!/changelog
!/cpanfiles
!/dev
!/examples
!/lib
!/plx
!/t
!/xt

!CHANGES
!CHANGES.md
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!GITHUB.md
!INSTALL
!LICENSE
!MANIFEST
!MANIFEST.SKIP
!META.json
!META.yml
!Makefile.PL
!README
!README.md
!RELEASE.md
!VERSION
!cpanfile
!dist.ini

!.ctags
!.editorconfig
!.gitattributes
!.gitignore
!.gitlab-ci.yml
!.mailmap
!.perlcriticrc
!.perltidyrc
!.replyrc