*.pl linguist-language=Perl
*.pm linguist-language=Perl
*.t linguist-language=Perl
.github/** linguist-documentation
changelog/** linguist-documentation
cpanfiles/** linguist-documentation
dev/** linguist-documentation
examples/** linguist-documentation
plx/** linguist-documentation
